* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(69, 70, 71);
  color: white;
}

.product-area {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  background-color: rgb(58, 60, 60);
  width: calc(calc(100% - 100px) / 3);
  margin: 30px auto;
}

.product-card span {
  display: block;
}

.product-card img {
  width: 100%;
}

.product-card .product-info {
  padding: 30px;
  position: relative;
}

.product-card svg {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  height: 30px;
  fill: white;
}
