* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(69, 70, 71);
  color: white;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.product-area {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  background-color: rgb(58, 60, 60);
  width: calc(calc(100% - 100px) / 3);
  margin: 30px auto;
  height: 450px;
  min-width: 200px;
  border-radius: 10px;
}

.product-card .product-image {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card .product-image img {
  height: 100%;
}

.product-card span {
  display: block;
}

.product-card .product-info {
  padding: 30px;
  height: calc(100% - 200px);
  position: relative;
  overflow: auto;
}

.product-card svg {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  height: 30px;
  fill: white;
}
